<h1> Tous les restaurants </h1>

<ul>
  <p><%= link_to 'add a new restaurant', new_restaurant_path(@restaurant) %></p>
  <li>
    <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %> | <%= restaurant.category %></h3>
    <p><%= restaurant.address %></p>
    <p> <%= restaurant.phone_number %></p>
    <% end %>
  </li>
</ul>

